.documentparagraph{
  font-size:13px;
  padding-left:20px;
  padding-right:20px;
}

.documenthr{
  width:98%;
}

.infoparagraph{
  font-size:16px;
  padding-left:20px;
  padding-right:20px;
  text-align:center;
}

.paragraphlink{
color:white;
}

.paragraphlist{
  padding-left:30px;
  padding-right:30px;
}
/*--------------------------------*/
.leftnav .navlinkdocument{
  padding: 4px 8px 4px 32px;
  text-decoration: none;
  font-size: 62%;
  display: block;
  transition: 0.3s;
}

.navlinkdocument{
  color:magenta;
  white-space: nowrap;
}
.navlinkdocument:hover{
  color:yellow;
}

/*-----------------------------*/
table{
  width:100%;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  font-size:8px;
}

th, td {
  padding:5px;
}

.nobreak{
  word-break: keep-all;
}

.EmployeeRow:hover{
  background-color:#262626;
}