.emailparagraph{
  font-size:13px;
  padding-left:20px;
  padding-right:20px;
}

.emailhr{
  width:1110px;
}
/*--------------------------------*/
.leftnav .navlinkemail{
  padding: 4px 8px 4px 32px;
  text-decoration: none;
  font-size: 13px;
  display: block;
  transition: 0.3s;
}

.navlinkemail{
  color:magenta;
  white-space: nowrap;
}
.navlinkemail:hover{
  color:yellow;
}

