#Container{
	display: block; 
	margin-left: auto;
	margin-right: auto;
  height: auto;
	position: relative;
  width: 100%;
}

/*----------------------------------------------*/

*{position:relative;}

html{scroll-behavior:smooth}

body{
  background-color:black;
  font-family: 'Roboto Mono', monospace;
  color:whitesmoke;
  -ms-overflow-style: none;  /* Scrollbar Hidden On IE & Edge */
  scrollbar-width: none;  /* Scrollbar Hidden on Firefox*/
}

body::-webkit-scrollbar{
  display:none; /* Scrollbar Hidden On Chrome & Safari & Opera */
}

/*----------------------------------------------*/
