#Container{
	display: block; 
	margin-left: auto;
	margin-right: auto;
  height: auto;
	position: relative;
  width: 100%;
}

/*----------------------------------------------*/

*{position:relative;}

html{scroll-behavior:smooth}

body{
  background-color:black;
  font-family: 'Roboto Mono', monospace;
  color:whitesmoke;
  -ms-overflow-style: none;  /* Scrollbar Hidden On IE & Edge */
  scrollbar-width: none;  /* Scrollbar Hidden on Firefox*/
}

body::-webkit-scrollbar{
  display:none; /* Scrollbar Hidden On Chrome & Safari & Opera */
}

/*----------------------------------------------*/

.lbarmiddle{
  width: 100%;
  text-align:center;
  font-size:25px;
}

.lbarbottom{
  margin-left:-5px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align:center;
  font-size:25px;
}

.lbarbutton{
  color:whitesmoke;
  transition: color 0.03s;
}

.lbarbutton:hover{
  color:white;
}

.lbarbutton>i{
  transition:.25s;
}

.lbarbutton>i:hover{
  transform:scale(1.25);
}

