@font-face {
  font-family: Josefine;
  src: url(../-FONTS-/josefine.ttf);
}

@font-face {
  font-family: F25;
  src: url(../-FONTS-/F25.ttf);
}

.bodyboxborder{
  border:3px whitesmoke solid;
  padding:7px;
}

/*---------------------------------------*/

.titlelink{
  color:whitesmoke;
  font-family:F25;
  font-size:18px;
  text-align:center;
  float:center;
  text-decoration:none;
}

.statusparagraph{
  font-size:16px;
  padding-left:20px;
  padding-right:20px;
  text-align:center;
}

/*---------------------------------------*/

.resourcelink{
  margin-left:15px;
  font-size:18px;
}

.resourcelink a{
  color:whitesmoke;
  text-decoration:none;
}

.resourcelink a:hover{
  color:whitesmoke;
  text-decoration:underline lightgray;
}

/*---------------------------------------*/